.HeaderPhone {
  display: flex;
  align-items: center;
  width: 100%;
  height: 65px;
}

.HeaderPhone__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: auto;
}

.HeaderPhone__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeaderPhone__img img {
  cursor: pointer;
}
