@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black-1: #202020;
  --primary: #e42831;
  --grey: #929292;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--black-1);
  font-family: "Roboto", sans-serif;
}

#main {
  position: relative;
  max-width: 1400px;
  min-width: 350px;
  height: auto;
  margin: 0 auto;
}

/* Para pantallas mayores a 1024px */
@media (min-width: 1024px) {
  .HeaderPhone {
    display: none;
  }
}
